<hr>  

#### About this document
_This is the assignment for the UCL CASA module Data Science for Spatial Systems (CASA0006) <br>This is a self contained Jupyter notebook with structure introduction, discussion and embeded code and bibliography._
<br>

**Code is hosted [here](https://github.com/X-Fan-Jack/Study_Notes/blob/master/Coursework/CASA06/cw_casa06.ipynb)**<br>

**Data is availble [here](https://github.com/X-Fan-Jack/Study_Notes/tree/master/Coursework/CASA06/data)**<br>

<hr>

# Passenger Behavior Patterns Based on Spatio-Temporal Sequences of Taxi Trajectory Data: 
_the case of the New York City_  

This paper explores trip record data from the TLC in New York City, and based on the city's provided geographic boundaries, obtains temporal characteristics of demand relationships at the district level.  
It emphasizes the changes in taxi demand within each area during different time periods.

<hr>

## 1 Introduction

出租车数据是常见的交通大数据，其能够

### 1.1 Requirements to run the analysis

An overview of packages used to run the analysis with brief explanation of their role.

In [1]:
import pyarrow.parquet as pq
import pandas as pd

In [5]:
trips = pq.read_table('data/fhv_tripdata_2021-01.parquet')
trips = trips.to_pandas()
trips.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1154112 entries, 0 to 1154111
Data columns (total 7 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   dispatching_base_num    1154112 non-null  object
 1   pickup_datetime         1154112 non-null  datetime64[ns]
 2   dropOff_datetime        1154112 non-null  datetime64[ns]
 3   PUlocationID            195845 non-null   float64
 4   DOlocationID            991892 non-null   float64
 5   SR_Flag                 0 non-null        object
 6   Affiliated_base_number  1153227 non-null  object
dtypes: datetime64[ns](2), float64(2), object(3)
memory usage: 61.6+ MB

In [3]:
trips.head(10)

,dispatching_base_num,pickup_datetime,dropOff_datetime,PUlocationID,DOlocationID,SR_Flag,Affiliated_base_number
0,B00009,2021-01-01 00:27:00,2021-01-01 00:44:00,NaN,NaN,None,B00009
1,B00009,2021-01-01 00:50:00,2021-01-01 01:07:00,NaN,NaN,None,B00009
2,B00013,2021-01-01 00:01:00,2021-01-01 01:51:00,NaN,NaN,None,B00013
3,B00037,2021-01-01 00:13:09,2021-01-01 00:21:26,NaN,72.0,None,B00037
4,B00037,2021-01-01 00:38:31,2021-01-01 00:53:44,NaN,61.0,None,B00037
5,B00037,2021-01-01 00:59:02,2021-01-01 01:08:05,NaN,71.0,None,B00037
6,B00037,2021-01-01 00:18:12,2021-01-01 00:30:04,NaN,91.0,None,B00037
7,B00037,2021-01-01 00:36:15,2021-01-01 00:45:08,NaN,39.0,None,B00037
8,B00037,2021-01-01 00:55:04,2021-01-01 01:13:02,NaN,37.0,None,B00037
9,B00037,2021-01-01 00:48:40,2021-01-01 01:12:02,NaN,39.0,None,B00037

<hr>

## 2 Literature Review

<hr>

## 3 Research question

<hr>

## 4 Presentation of data

<hr>

## 5 Methodology

<hr>

## 6 Analysis

<hr>

## 7 Results

<hr>

## 8 Discussion

<hr>

## 9 Conclusion

<hr>

## Bibliography

<hr>

## Appendix